<form action="/cats" method="POST">
  Name: <input name="name"> <br>
  Breed:<input name="breed"> <br>
  Temperament:<input name="temperament"> <br>
  Date of birth <input type="date" name="date_of_birth"> <br>
  <input type="submit" value="Save cat">
</form>