I am the cat show.erb

<h1><%= @cat.name.capitalize %></h1>

<table>
  <tr><td>Breed:</td><td><%= @cat.breed %></td></tr>
  <tr><td>Temperament:</td><td><%= @cat.temperament %></td></tr>
  <tr><td>Date of birth:</td><td><%= @cat.date_of_birth %></td></tr>
</table>

<a href="/cats">Show all cats</a>